@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Dosis:wght@200;400&family=Great+Vibes&family=Hind&family=Jost&family=Kaushan+Script&family=La+Belle+Aurore&family=Lobster&family=Pacifico&family=Poppins:wght@200;300;400;500;600&family=Shadows+Into+Light&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(48deg, rgba(0,0,0,1) 0%, rgba(56,56,56,1) 88%);
}
.model{
    width: 100%;
    height: 100%;
}

.button_container {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 25px;
    width: 30px;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;
}

.button_container:hover {
    opacity: 0.7;
}

.button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
}

.button_container.active .middle {
    opacity: 0;
    background: #FFF;
}

.button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
}

.button_container span {
    background: #cccc;
    border: none;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;
    border-radius: 5px;
}

.button_container span:nth-of-type(2) {
    top: 10px;
}

.button_container span:nth-of-type(3) {
    top: 20px;
}

/* ==============================================
==============================================
====================Overlay===================
==============================================
============================================== */

.overlay {
    position: fixed;
    background: rgba(15, 15, 15, 0.849);
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow-y: scroll;
}

.overlay.open {
    opacity: 0.9;
    visibility: visible;
    height: 100%;
}

.overlay.open li {
    animation: fadeInRight 0.5s ease forwards;
    animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(2) {
    animation-delay: 0.4s;
}

.overlay.open li:nth-of-type(3) {
    animation-delay: 0.45s;
}

.overlay.open li:nth-of-type(4) {
    animation-delay: 0.5s;
}

.overlay nav {
    position: relative;
    height: 70%;
    top: 40%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

.overlay ul li {
    display: block;
    height: 20%;
    height: calc(100% / 8);
    min-height: 40px;
    position: relative;
    opacity: 0;
}

.overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
}

/* .overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
    width: 100%;
} */

/* .overlay ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    transition: 0.35s;
} */
::-webkit-scrollbar{
    display: none;
}
/* ::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; }
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}
::-webkit-scrollbar-button:hover{
    background-color: #555;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #555;
} */

/* ==============================================
==============================================
====================PopUp===================
==============================================
============================================== */

.popup{
    background-color: #f0f0f0;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
    z-index: 200;
}
.popup button{
    display: block;
    height: 30px;
    width: 30px;
    margin:  0 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #222;
    border-radius: 50px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup p{
    text-align: center;
    font-size: 14px;
    margin: 20px 0;
    line-height: 25px;
}
.popup p a{
    color: #000;
    text-decoration: none;
}